@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.app-background {
    background-color: #E0A75E;
    min-height: 100vh; 
    padding: 1rem; 
  }

